<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes Page</title>
    <link rel="stylesheet" href="/style.css">

    <!-- Font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include("includes/head.ejs") %>


        <main>
            <% for(post of posts) { %>
                <div class="card">

                    <h3 class="username"><%= post.username %></h3>
                    <p class="description">
                        <%= post.shayri %>
                    </p>
                    <div class="card-buttons">
                        <a href="/posts/show/<%= post.id %>" class="btn view">View</a>
                        <a href="/posts/edit/<%= post.id %>" class="btn edit">Edit</a>
                        <form method="post" action="/posts/<%= post.id %>?_method=DELETE" style="flex: 1; margin: 0;">
                            <button type="submit" class="btn delete">Delete</button>
                        </form>
                    </div>

                </div>
                <% } %>

        </main>


        <!-- //footer comes here -->
        <%- include("includes/footer.ejs") %>
</body>

</html>